<!DOCTYPE html>
<html ng-app="schpeyeder-web">
<head>
  	<title>Schpeyeder Web</title>
  	<!-- Force max version on IE -->
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile rendering enabled for Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  	
    <!-- JQuery (jquery.com) -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>

    <!-- Angular (angularjs.org) -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

    <!-- AngularUI (angularui.org) -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.js"></script>
                              	    
	<!-- Boostrap -->
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>                              	    
                 
  	<!-- Style Sheets -->
  	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.css">
    
    <!-- Compiled JS (with Closure) -->
  	<script type="text/javascript" src="/js/compiled.js"></script>
  	
  	<!-- Local CSS files -->
  	<link rel="stylesheet" href="/css/app.css" />
</head>
<section role="navigation" ui-view="menu"></section>
<body>
<div ui-view="content"></div>	
</body>
</html>